.card {
    background: linear-gradient(#1a47ff,#ff2b2b);
    color: whitesmoke;
}

.btnCount1{
    background-color: #1a47ff;
    color: aliceblue;
    width: 75px;
    height: 35px;
}

.btnCount2{
    background-color: #ff2b2b;
    color: aliceblue;
    width: 75px;
    height: 35px;
}